@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900|Montserrat:400,700,800,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Muli:400,700,700i,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Limelight&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Chivo:400,700,900&display=swap&subset=latin-ext");
/*from x the screen is
			s 		m 		l 		xl*/
.ff-a {
  font-family: "Comfortaa", sans-serif; }

.ff-b {
  font-family: "Chivo", sans-serif; }

.fs1 {
  font-size: 0.5vmax;
  line-height: 0.62vmax;
  letter-spacing: 0.07vmax; }
.fs2 {
  font-size: 0.81vmax;
  line-height: 0.93vmax;
  letter-spacing: 0.05vmax; }
.fs3 {
  font-size: 1.32vmax;
  line-height: 1.44vmax;
  letter-spacing: 0.03vmax; }
.fs4 {
  font-size: 2.13vmax;
  line-height: 2.25vmax;
  letter-spacing: 0.02vmax; }
.fs5 {
  font-size: 3.44vmax;
  line-height: 3.56vmax;
  letter-spacing: 0.01vmax; }
.fs6 {
  font-size: 5.57vmax;
  line-height: 5.69vmax;
  letter-spacing: 0.01vmax; }

@media (max-width: 991px) {
  .fs5 {
    font-size: 3.44vmax; } }
@media (min-width: 992px) {
  .fs5 {
    font-size: 70px; } }

.bold {
  font-weight: bold; }
  .bolder {
    font-weight: bolder; }
  .boldest {
    font-weight: 900; }

img.obj-fit-c {
  object-fit: cover;
  object-position: center; }

button,
.btn {
  color: #313941;
  font-family: "Comfortaa", sans-serif;
  font-size: 0.81vmax;
  padding: 0.81vmax 1.32vmax;
  cursor: pointer; }
  button.sm,
  .btn.sm {
    padding: 0.5vmax 0.81vmax; }

ul.indent-lines {
  text-indent: -2.13vmax;
  padding-left: 2.13vmax; }

.tri-u {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 13px 14px 13px;
  border-color: transparent transparent #989ca0 transparent; }

.tri-b {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 13px 0 13px;
  border-color: #989ca0 transparent transparent transparent; }

.tri-l {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 14px 13px 0;
  border-color: transparent #989ca0 transparent transparent; }

.tri-r {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 14px;
  border-color: transparent transparent transparent #989ca0; }

.tri-point-u::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 18px 13px 7px;
  border-color: transparent transparent #e55545 transparent;
  right: 61.8%;
  bottom: 100%; }

.tri-point-d::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 12px 0 6px;
  border-color: #e55545 transparent transparent transparent;
  left: 61.8%;
  top: 100%; }

.diagonal-top {
  position: relative; }
  .diagonal-top::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 100%;
    border-style: solid;
    height: 0;
    width: 0;
    border-color: transparent transparent transparent #313941;
    border-width: 300px 0 0 100vw; }

.r {
  border-radius: 100%; }

.ico-s1 {
  text-align: center;
  width: 0.81vmax;
  height: 0.81vmax;
  line-height: 0.81vmax;
  display: inline-block; }
  .ico-s1 > path {
    display: inline-block;
    width: 1vmax;
    height: 1vmax; }
.ico-s2 {
  text-align: center;
  width: 1.32vmax;
  height: 1.32vmax;
  line-height: 1.32vmax;
  display: inline-block; }
  .ico-s2 > path {
    display: inline-block;
    width: 1vmax;
    height: 1vmax; }
.ico-s3 {
  text-align: center;
  width: 2.13vmax;
  height: 2.13vmax;
  line-height: 2.13vmax;
  display: inline-block; }
  .ico-s3 > path {
    display: inline-block;
    width: 1vmax;
    height: 1vmax; }
.ico-s4 {
  text-align: center;
  width: 3.44vmax;
  height: 3.44vmax;
  line-height: 3.44vmax;
  display: inline-block; }
  .ico-s4 > path {
    display: inline-block;
    width: 1vmax;
    height: 1vmax; }
.ico-s5 {
  text-align: center;
  width: 5.57vmax;
  height: 5.57vmax;
  line-height: 5.57vmax;
  display: inline-block; }
  .ico-s5 > path {
    display: inline-block;
    width: 1vmax;
    height: 1vmax; }
.ico-s6 {
  text-align: center;
  width: 9.02vmax;
  height: 9.02vmax;
  line-height: 9.02vmax;
  display: inline-block; }
  .ico-s6 > path {
    display: inline-block;
    width: 2vmax;
    height: 2vmax; }
.ico-s7 {
  text-align: center;
  width: 14.59vmax;
  height: 14.59vmax;
  line-height: 14.59vmax;
  display: inline-block; }
  .ico-s7 > path {
    display: inline-block;
    width: 2vmax;
    height: 2vmax; }

div.def {
  width: 100px;
  height: 100px; }

.bor {
  border: solid rgba(0, 0, 0, 0.4); }
  .bor-a {
    border: 2px solid #313941; }
  .bor.lumen {
    box-sizing: border-box;
    border: 1px solid #66afe9;
    outline: 0;
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
  .bor.light {
    border: solid 1px rgba(0, 0, 0, 0.1); }
  .bor.rad-5 {
    border-radius: 5px; }
  .bor.b {
    border-bottom: 1px solid; }
  .bor.l {
    border-left: 1px solid; }
  .bor.r {
    border-right: 1px solid; }
  .bor.t {
    border-top: 1px solid; }

.mirror {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH"; }

/*#bg*/
.bg-cover, .bg-contain, .bg-fixed {
  background-repeat: no-repeat;
  background-position: center; }

.bg-cover {
  background-size: cover; }
.bg-contain {
  background-size: contain; }
.bg-fixed {
  background-size: cover;
  background-attachment: fixed; }
.bg-rad-grad {
  background: -webkit-radial-gradient(circle, #094E8F, #0C122A);
  background: -o-radial-gradient(circle, #094E8F, #0C122A);
  background: -moz-radial-gradient(circle, #094E8F, #0C122A);
  background: transparent radial-gradient(circle, #094E8F, #0C122A) no-repeat fixed center center/cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }
.bg-rad-grad2 {
  background: -webkit-radial-gradient(circle, #546076, #423e51);
  background: -o-radial-gradient(circle, #546076, #423e51);
  background: -moz-radial-gradient(circle, #546076, #423e51);
  background: transparent radial-gradient(circle, #546076, #423e51) no-repeat fixed center center/cover;
  background-attachment: fixed;
  background-size: cover;
  background-position: center; }

.cur-p {
  cursor: pointer; }

.cur-mag {
  cursor: zoom-in; }

/* mater */
.valign-wrapper.btm {
  align-items: end; }
.valign-wrapper > .col {
  margin-left: 0 !important; }

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-flex {
  display: flex;
  align-items: center; }
.center-abs-all-h5 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
.center-abs-all {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto !important; }
.center-abs-v-h5 {
  top: 50%;
  -webkit-translate: 0% -50%;
  -ms-translate: 0% -50%;
  translate: 0% -50%; }
.center-abs-h-h5 {
  left: 50%;
  -webkit-translate: 50% 0%;
  -ms-translate: 50% 0%;
  translate: 50% 0%; }
.center-abs-v {
  top: 0;
  bottom: 0;
  margin-top: auto !important;
  margin-bottom: auto !important; }
.center-abs-h {
  margin-right: auto !important;
  margin-left: auto !important; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.hide {
  display: none !important; }

.fixed {
  position: fixed !important; }

.ib {
  display: inline-block; }

.overlay {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .overlay.darken {
    background: rgba(49, 57, 65, 0.4); }

.fluid {
  width: 100%; }

.fluid-h {
  height: 100% !important; }

.foo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-style: groove; }

.skin, .no-mp {
  margin: 0;
  padding: 0; }

.scaffold {
  min-height: 300px; }

.shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  .shadow-no {
    box-shadow: none !important; }
  .shadow-inner {
    box-shadow: inset 0 0 10px #000000; }
  .shadow-strong {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
  .shadow-soft {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .shadow-blurry {
    position: relative; }
    .shadow-blurry::after {
      content: '';
      box-shadow: -10px -10px 100px #1b2024;
      position: absolute;
      z-index: -1;
      width: 95%;
      height: 95%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
    .shadow-blurry-r::after {
      border-radius: 100%;
      content: '';
      box-shadow: 0 0 80px rgba(0, 0, 0, 0.9);
      position: absolute;
      z-index: -1;
      width: 95%;
      height: 95%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto; }
  .shadow-blurry2 {
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.5); }
  .shadow-effect5 {
    position: relative;
    box-shadow: none !important; }
    .shadow-effect5::before, .shadow-effect5::after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 25px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: rgba(49, 57, 65, 0.5);
      -webkit-box-shadow: 0 35px 40px rgba(49, 57, 65, 0.7);
      -ms-box-shadow: 0 35px 40px rgba(49, 57, 65, 0.7);
      box-shadow: 0 35px 40px rgba(49, 57, 65, 0.7);
      -webkit-transform: rotate(-8deg);
      -ms-transform: rotate(-8deg);
      transform: rotate(-8deg); }
    .shadow-effect5::after {
      -webkit-transform: rotate(8deg);
      -ms-transform: rotate(8deg);
      transform: rotate(8deg);
      right: 10px;
      left: auto; }
  .shadow-effect6 {
    position: relative;
    box-shadow: none !important; }
    .shadow-effect6::after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 10px;
      left: 10px;
      right: 10px;
      top: 10px;
      background: rgba(49, 57, 65, 0.5);
      -webkit-box-shadow: 0 0 50px #313941;
      -ms-box-shadow: 0 0 50px #313941;
      box-shadow: 0 0 50px #313941; }

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999; }
  hr.grad {
    border: 0;
    height: 1px;
    width: 38.2%;
    background-image: linear-gradient(to right, rgba(49, 57, 65, 0), rgba(49, 57, 65, 0.75), rgba(49, 57, 65, 0)); }
  hr.shadow {
    height: 20px;
    border: 0;
    box-shadow: inset 0 -20px 20px -20px rgba(0, 0, 0, 0.5);
    margin: 0; }
  hr.white {
    border-top: 1px solid rgba(0, 0, 0, 0.4); }
  hr.inset {
    width: 80%;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); }

.transition {
  -webkit-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

/*FLOATS*/
.clearfix {
  clear: both; }

.float-l {
  float: left; }
.float-r {
  float: right; }
.float-r::after, .float-l::after {
  clear: both;
  display: block;
  content: ""; }

.block {
  display: block; }

.blur-2 {
  -webkit-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); }

.blur-10 {
  -webkit-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px); }

.blur-30 {
  -webkit-filter: blur(30px);
  -ms-filter: blur(30px);
  filter: blur(30px); }

ul.hor > li {
  float: left; }
ul.hor-r > li {
  float: right; }
ul.hor-r::after, ul.hor::after {
  content: '';
  display: block;
  clear: both; }
ul.hor-r > li:not(:last-of-type) {
  margin-left: 0.5vmax; }
ul.hor > li:not(:last-of-type) {
  margin-right: 0.5vmax; }

.txt-c {
  text-align: center !important; }

.txt-l {
  text-align: left !important; }

.txt-r {
  text-align: right !important; }

.capitalize {
  text-transform: capitalize; }

.caps {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

.justify, .justify-ic, .justify-d {
  text-align: justify; }
  .justify-ic {
    text-justify: inter-character; }
  .justify-d {
    text-justify: distribute; }

.nowrap {
  white-space: nowrap; }

.font-thick {
  -webkit-text-stroke: .4px;
  text-stroke: .4px; }

.m1-a {
  margin-top: 0.5vmax;
  margin-right: 0.5vmax;
  margin-bottom: 0.5vmax;
  margin-left: 0.5vmax; }
.m1-s {
  margin-left: 0.5vmax;
  margin-right: 0.5vmax; }
.m1-tb {
  margin-top: 0.5vmax;
  margin-bottom: 0.5vmax; }
.m1-l {
  margin-left: 0.5vmax; }
.m1-r {
  margin-right: 0.5vmax; }
.m1-t {
  margin-top: 0.5vmax; }
.m1-b {
  margin-bottom: 0.5vmax; }

.p1-a {
  padding-top: 0.5vmax;
  padding-right: 0.5vmax;
  padding-bottom: 0.5vmax;
  padding-left: 0.5vmax; }
.p1-s {
  padding-left: 0.5vmax;
  padding-right: 0.5vmax; }
.p1-tb {
  padding-top: 0.5vmax;
  padding-bottom: 0.5vmax; }
.p1-l {
  padding-left: 0.5vmax; }
.p1-r {
  padding-right: 0.5vmax; }
.p1-t {
  padding-top: 0.5vmax; }
.p1-b {
  padding-bottom: 0.5vmax; }

.m2-a {
  margin-top: 0.81vmax;
  margin-right: 0.81vmax;
  margin-bottom: 0.81vmax;
  margin-left: 0.81vmax; }
.m2-s {
  margin-left: 0.81vmax;
  margin-right: 0.81vmax; }
.m2-tb {
  margin-top: 0.81vmax;
  margin-bottom: 0.81vmax; }
.m2-l {
  margin-left: 0.81vmax; }
.m2-r {
  margin-right: 0.81vmax; }
.m2-t {
  margin-top: 0.81vmax; }
.m2-b {
  margin-bottom: 0.81vmax; }

.p2-a {
  padding-top: 0.81vmax;
  padding-right: 0.81vmax;
  padding-bottom: 0.81vmax;
  padding-left: 0.81vmax; }
.p2-s {
  padding-left: 0.81vmax;
  padding-right: 0.81vmax; }
.p2-tb {
  padding-top: 0.81vmax;
  padding-bottom: 0.81vmax; }
.p2-l {
  padding-left: 0.81vmax; }
.p2-r {
  padding-right: 0.81vmax; }
.p2-t {
  padding-top: 0.81vmax; }
.p2-b {
  padding-bottom: 0.81vmax; }

.m3-a {
  margin-top: 1.32vmax;
  margin-right: 1.32vmax;
  margin-bottom: 1.32vmax;
  margin-left: 1.32vmax; }
.m3-s {
  margin-left: 1.32vmax;
  margin-right: 1.32vmax; }
.m3-tb {
  margin-top: 1.32vmax;
  margin-bottom: 1.32vmax; }
.m3-l {
  margin-left: 1.32vmax; }
.m3-r {
  margin-right: 1.32vmax; }
.m3-t {
  margin-top: 1.32vmax; }
.m3-b {
  margin-bottom: 1.32vmax; }

.p3-a {
  padding-top: 1.32vmax;
  padding-right: 1.32vmax;
  padding-bottom: 1.32vmax;
  padding-left: 1.32vmax; }
.p3-s {
  padding-left: 1.32vmax;
  padding-right: 1.32vmax; }
.p3-tb {
  padding-top: 1.32vmax;
  padding-bottom: 1.32vmax; }
.p3-l {
  padding-left: 1.32vmax; }
.p3-r {
  padding-right: 1.32vmax; }
.p3-t {
  padding-top: 1.32vmax; }
.p3-b {
  padding-bottom: 1.32vmax; }

.m4-a {
  margin-top: 2.13vmax;
  margin-right: 2.13vmax;
  margin-bottom: 2.13vmax;
  margin-left: 2.13vmax; }
.m4-s {
  margin-left: 2.13vmax;
  margin-right: 2.13vmax; }
.m4-tb {
  margin-top: 2.13vmax;
  margin-bottom: 2.13vmax; }
.m4-l {
  margin-left: 2.13vmax; }
.m4-r {
  margin-right: 2.13vmax; }
.m4-t {
  margin-top: 2.13vmax; }
.m4-b {
  margin-bottom: 2.13vmax; }

.p4-a {
  padding-top: 2.13vmax;
  padding-right: 2.13vmax;
  padding-bottom: 2.13vmax;
  padding-left: 2.13vmax; }
.p4-s {
  padding-left: 2.13vmax;
  padding-right: 2.13vmax; }
.p4-tb {
  padding-top: 2.13vmax;
  padding-bottom: 2.13vmax; }
.p4-l {
  padding-left: 2.13vmax; }
.p4-r {
  padding-right: 2.13vmax; }
.p4-t {
  padding-top: 2.13vmax; }
.p4-b {
  padding-bottom: 2.13vmax; }

.m5-a {
  margin-top: 3.44vmax;
  margin-right: 3.44vmax;
  margin-bottom: 3.44vmax;
  margin-left: 3.44vmax; }
.m5-s {
  margin-left: 3.44vmax;
  margin-right: 3.44vmax; }
.m5-tb {
  margin-top: 3.44vmax;
  margin-bottom: 3.44vmax; }
.m5-l {
  margin-left: 3.44vmax; }
.m5-r {
  margin-right: 3.44vmax; }
.m5-t {
  margin-top: 3.44vmax; }
.m5-b {
  margin-bottom: 3.44vmax; }

.p5-a {
  padding-top: 3.44vmax;
  padding-right: 3.44vmax;
  padding-bottom: 3.44vmax;
  padding-left: 3.44vmax; }
.p5-s {
  padding-left: 3.44vmax;
  padding-right: 3.44vmax; }
.p5-tb {
  padding-top: 3.44vmax;
  padding-bottom: 3.44vmax; }
.p5-l {
  padding-left: 3.44vmax; }
.p5-r {
  padding-right: 3.44vmax; }
.p5-t {
  padding-top: 3.44vmax; }
.p5-b {
  padding-bottom: 3.44vmax; }

.m6-a {
  margin-top: 5.57vmax;
  margin-right: 5.57vmax;
  margin-bottom: 5.57vmax;
  margin-left: 5.57vmax; }
.m6-s {
  margin-left: 5.57vmax;
  margin-right: 5.57vmax; }
.m6-tb {
  margin-top: 5.57vmax;
  margin-bottom: 5.57vmax; }
.m6-l {
  margin-left: 5.57vmax; }
.m6-r {
  margin-right: 5.57vmax; }
.m6-t {
  margin-top: 5.57vmax; }
.m6-b {
  margin-bottom: 5.57vmax; }

.p6-a {
  padding-top: 5.57vmax;
  padding-right: 5.57vmax;
  padding-bottom: 5.57vmax;
  padding-left: 5.57vmax; }
.p6-s {
  padding-left: 5.57vmax;
  padding-right: 5.57vmax; }
.p6-tb {
  padding-top: 5.57vmax;
  padding-bottom: 5.57vmax; }
.p6-l {
  padding-left: 5.57vmax; }
.p6-r {
  padding-right: 5.57vmax; }
.p6-t {
  padding-top: 5.57vmax; }
.p6-b {
  padding-bottom: 5.57vmax; }

.m7-a {
  margin-top: 9.02vmax;
  margin-right: 9.02vmax;
  margin-bottom: 9.02vmax;
  margin-left: 9.02vmax; }
.m7-s {
  margin-left: 9.02vmax;
  margin-right: 9.02vmax; }
.m7-tb {
  margin-top: 9.02vmax;
  margin-bottom: 9.02vmax; }
.m7-l {
  margin-left: 9.02vmax; }
.m7-r {
  margin-right: 9.02vmax; }
.m7-t {
  margin-top: 9.02vmax; }
.m7-b {
  margin-bottom: 9.02vmax; }

.p7-a {
  padding-top: 9.02vmax;
  padding-right: 9.02vmax;
  padding-bottom: 9.02vmax;
  padding-left: 9.02vmax; }
.p7-s {
  padding-left: 9.02vmax;
  padding-right: 9.02vmax; }
.p7-tb {
  padding-top: 9.02vmax;
  padding-bottom: 9.02vmax; }
.p7-l {
  padding-left: 9.02vmax; }
.p7-r {
  padding-right: 9.02vmax; }
.p7-t {
  padding-top: 9.02vmax; }
.p7-b {
  padding-bottom: 9.02vmax; }

.m8-a {
  margin-top: 14.59vmax;
  margin-right: 14.59vmax;
  margin-bottom: 14.59vmax;
  margin-left: 14.59vmax; }
.m8-s {
  margin-left: 14.59vmax;
  margin-right: 14.59vmax; }
.m8-tb {
  margin-top: 14.59vmax;
  margin-bottom: 14.59vmax; }
.m8-l {
  margin-left: 14.59vmax; }
.m8-r {
  margin-right: 14.59vmax; }
.m8-t {
  margin-top: 14.59vmax; }
.m8-b {
  margin-bottom: 14.59vmax; }

.p8-a {
  padding-top: 14.59vmax;
  padding-right: 14.59vmax;
  padding-bottom: 14.59vmax;
  padding-left: 14.59vmax; }
.p8-s {
  padding-left: 14.59vmax;
  padding-right: 14.59vmax; }
.p8-tb {
  padding-top: 14.59vmax;
  padding-bottom: 14.59vmax; }
.p8-l {
  padding-left: 14.59vmax; }
.p8-r {
  padding-right: 14.59vmax; }
.p8-t {
  padding-top: 14.59vmax; }
.p8-b {
  padding-bottom: 14.59vmax; }

.ma-l {
  margin-left: auto; }
.ma-r {
  margin-right: auto; }
.ma-s {
  margin-left: auto;
  margin-right: auto; }
.ma-t {
  margin-top: auto; }
.ma-b {
  margin-bottom: auto; }
.ma-tb {
  margin-top: auto;
  margin-bottom: auto; }
.ma {
  margin: auto; }
.m-no {
  margin: 0 !important; }
.m-not {
  margin-top: 0 !important; }
.m-nob {
  margin-bottom: 0 !important; }
.m-nol {
  margin-left: 0 !important; }
.m-nor {
  margin-right: 0 !important; }

.p-no {
  padding: 0 !important; }
.p-not {
  padding-top: 0; }
.p-nob {
  padding-bottom: 0; }
.p-nol {
  padding-left: 0; }
.p-nor {
  padding-right: 0; }

.h1 {
  height: 3.44vmax; }
  .h1-lh {
    height: 3.44vmax;
    line-height: 3.44vmax; }
.h2 {
  height: 5.57vmax; }
  .h2-lh {
    height: 5.57vmax;
    line-height: 5.57vmax; }
.h3 {
  height: 9.02vmax; }
  .h3-lh {
    height: 9.02vmax;
    line-height: 9.02vmax; }
.h4 {
  height: 14.59vmax; }
  .h4-lh {
    height: 14.59vmax;
    line-height: 14.59vmax; }
.h5 {
  height: 23.61vmax; }
  .h5-lh {
    height: 23.61vmax;
    line-height: 23.61vmax; }
.h6 {
  height: 38.2vmax; }
  .h6-lh {
    height: 38.2vmax;
    line-height: 38.2vmax; }

.w1 {
  width: 3.44vmax; }
.w2 {
  width: 5.57vmax; }
.w3 {
  width: 9.02vmax; }
.w4 {
  width: 14.59vmax; }
.w5 {
  width: 23.61vmax; }
.w6 {
  width: 38.2vmax; }

.light {
  color: white;
  fill: white; }
  .light svg {
    fill: white; }

.bg-light {
  background-color: white; }

.light2 {
  color: #D7D8DB;
  fill: #D7D8DB; }
  .light2 svg {
    fill: #D7D8DB; }

.bg-light2 {
  background-color: #D7D8DB; }

.light3 {
  color: #00719c;
  fill: #00719c; }
  .light3 svg {
    fill: #00719c; }

.bg-light3 {
  background-color: #00719c; }

.light4 {
  color: #005d52;
  fill: #005d52; }
  .light4 svg {
    fill: #005d52; }

.bg-light4 {
  background-color: #005d52; }

.light5 {
  color: #5599b1;
  fill: #5599b1; }
  .light5 svg {
    fill: #5599b1; }

.bg-light5 {
  background-color: #5599b1; }

.light6 {
  color: #0071bc;
  fill: #0071bc; }
  .light6 svg {
    fill: #0071bc; }

.bg-light6 {
  background-color: #0071bc; }

.dark {
  color: #313941;
  fill: #313941; }
  .dark svg {
    fill: #313941; }

.bg-dark {
  background-color: #313941; }

.dark2 {
  color: #595d65;
  fill: #595d65; }
  .dark2 svg {
    fill: #595d65; }

.bg-dark2 {
  background-color: #595d65; }

.dark3 {
  color: black;
  fill: black; }
  .dark3 svg {
    fill: black; }

.bg-dark3 {
  background-color: black; }

.dark4 {
  color: #09485e;
  fill: #09485e; }
  .dark4 svg {
    fill: #09485e; }

.bg-dark4 {
  background-color: #09485e; }

.contrast {
  color: #e55545;
  fill: #e55545; }
  .contrast svg {
    fill: #e55545; }

.bg-contrast {
  background-color: #e55545; }

.contrast2 {
  color: #658d1b;
  fill: #658d1b; }
  .contrast2 svg {
    fill: #658d1b; }

.bg-contrast2 {
  background-color: #658d1b; }

.contrast3 {
  color: #cb7b39;
  fill: #cb7b39; }
  .contrast3 svg {
    fill: #cb7b39; }

.bg-contrast3 {
  background-color: #cb7b39; }

/*# sourceMappingURL=helper.css.map */
