//todo: add @media for fonts
html {
	.no-js{
		display: none;
	}
	&.no-js .no-js {
		display: block;
	}
}
body {
    letter-spacing: f();
	font-weight: 300;
	font-size: f(font, 2);
    line-height: f(font, 2) + f(3);
    font-family: $ff-a;

	margin: 0;
    color:color(d, 2);
	background-color: lighten(color(l), 5);
	overflow-y: scroll;

	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
header,  footer{
	overflow-x: hidden !important;
    max-width: 100vw;
}

main {
	position: relative;
	//min-height: 100vh;
	flex: 1 0 auto;

}

h1, h2, h3, h4, p{
	padding:0;
	margin: 0;
}
h1, h2, h3, h4{
	font-family: $ff-b;
}
h1 {
	margin: f(7) 0 f(5) 0;

	font-size: f(font, 5);
	line-height: f(font, 5) + f();
	letter-spacing: f();
	font-weight: 900;
}

h2 {
    margin: f(7) 0 f(5) 0;

	font-size: f(font, 3);
	line-height: f(font, 3) + f();


	letter-spacing: f();
	font-weight: 600;
}

h3 {
	font-size: f(font, 3);
	line-height: f(font, 3) + f();
	letter-spacing: f();
	// text-transform: uppercase;

	margin: f(4) 0 f(2) 0;
}

h4 {
	font-size: f(font, 2);
	line-height: f(font, 2) + f(2);
	letter-spacing: f();
	font-weight: 300;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;

	&:not(.hor-r):not(.hor) > li:not(:last-of-type)
	{
		margin-bottom: f(mp, 1);
	}
}

a {
	display: inline-block;
	color: white;
	text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &:visited {
      color: color(c, 1);
    }
}

br {
	margin:f(3) auto;
	display: block;
}

button {
	border:none;
	box-shadow:none;
	cursor: pointer;
}

figure{
	margin:0;
}

* {
  box-sizing: border-box;
}

::placeholder{
	color: rgba(color(d), .7);
}

input, textarea {

	border: none;
	border-bottom: 1px solid rgba(color(c, 2), .4);
	background: none;
	font-family: $ff-a;
	padding-bottom: f(mp, 1);
	max-width: f(13);
	width: fibon(100%, -1);
	font-size: f(font, 2);
	letter-spacing: f();
	transition: all .2s ease-out;
	&:focus{
		color: rgba(color(l, 2), 1);
		border-color: rgba(color(l, 2), .7);
	}

}
textarea{

}
